<div class="container">
  <div class="card">
  <div class="card-header">
    Recommendetion
  </div>
  <div class="card-body">
    <%= form_for @recommendation do |form|%>
      <%= form.label :leave_a_recommendation  %>
      <%= form.text_area :comment, class: 'form-control', require: true %><br>
      <%= form.hidden_field :appointment_id %><br>
      <%= form.submit 'Create recommendation' %>
    <% end %>
  </div>
</div>
</div>
